@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container1 {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
}

.container2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.container2 h1 {
  font-size: 50px;
  font-weight: bolder;
}

.container2 p {
  font-size: medium;
  font-weight: 600;
}
.container img {
  width: 70px;
  height: auto;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6,
.icon7,
.icon8,
.icon9,
.icon10 {
  position: absolute;
  border-radius: 50%; /* Make it circular */
  transform: translate(-50%, -50%); /* Offset to center */
  z-index: 1000;
}

.icon1 {
  animation: moveUpRight 20s infinite ease-in-out; /* Unique animation */
}

.icon2 {
  animation: moveDownLeft 20s infinite ease-in-out; /* Unique animation */
}

.icon3 {
  animation: moveDiagonal 20s infinite ease-in-out; /* Unique animation */
}

.icon4 {
  animation: moveUp 20s infinite ease-in-out; /* Unique animation */
}

.icon5 {
  animation: moveDown 20s infinite ease-in-out; /* Unique animation */
}

.icon6 {
  animation: moveLeft 20s infinite ease-in-out; /* Unique animation */
}

.icon7 {
  animation: moveRight 20s infinite ease-in-out; /* Unique animation */
}

.icon8 {
  animation: moveDownRight 20s infinite ease-in-out; /* Unique animation */
}

.icon9 {
  animation: moveUpLeft 20s infinite ease-in-out; /* Unique animation */
}

.icon10 {
  animation: moveUpRight 20s infinite ease-in-out; /* Unique animation */
}

@keyframes moveUpRight {
  0% {
    transform: translate(-50%, -20px);
  }
  50% {
    transform: translate(20px, -30px);
  }
  100% {
    transform: translate(-50%, -20px);
  }
}

@keyframes moveDownLeft {
  0% {
    transform: translate(-50%, -20px);
  }
  50% {
    transform: translate(-20px, 30px);
  }
  100% {
    transform: translate(-50%, -20px);
  }
}

@keyframes moveDiagonal {
  0% {
    transform: translate(-50%, -20px);
  }
  50% {
    transform: translate(30px, 30px);
  }
  100% {
    transform: translate(-50%, -20px);
  }
}

@keyframes moveUp {
  0% {
    transform: translate(-50%, -20px);
  }
  50% {
    transform: translate(0, -50px);
  }
  100% {
    transform: translate(-50%, -20px);
  }
}

@keyframes moveDown {
  0% {
    transform: translate(-50%, -20px);
  }
  50% {
    transform: translate(0, 50px);
  }
  100% {
    transform: translate(-50%, -20px);
  }
}

@keyframes moveLeft {
  0% {
    transform: translate(-50%, -20px);
  }
  50% {
    transform: translate(-50px, -20px);
  }
  100% {
    transform: translate(-50%, -20px);
  }
}

@keyframes moveRight {
  0% {
    transform: translate(-50%, -20px);
  }
  50% {
    transform: translate(50px, -20px);
  }
  100% {
    transform: translate(-50%, -20px);
  }
}

@keyframes moveDownRight {
  0% {
    transform: translate(-50%, -20px);
  }
  50% {
    transform: translate(20px, 30px);
  }
  100% {
    transform: translate(-50%, -20px);
  }
}

@keyframes moveUpLeft {
  0% {
    transform: translate(-50%, -20px);
  }
  50% {
    transform: translate(-30px, -30px);
  }
  100% {
    transform: translate(-50%, -20px);
  }
}